.heading {
    display: inline-block;
    width: 500px;
    color: red;
    margin-top: 20px;
}

pre {
   background-color: red;
   width: 500px;
   text-align: left;
}

input, textarea {
    width: 300px;
}

form {
    padding-left: 40px;
}