@font-face {
  font-family: titleFont;
  src: url(/assets/fonts/Metal-Vampire.ttf);
}


.wrapper {
    background-image: url("/assets/images/shutterstock_248261209.jpg");
    text-align: center;  
    height: 100vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
body, html {
    height: 100%;
    
  }  


form {
    margin: 80px;
    
}

#start-button, #create-button {
    background-color: black;
    color: white;
    width: 350px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: hsl(351, 68%, 11%) !important;
    background-repeat: repeat-x;
    background-image: -o-linear-gradient(top, red, #2f080e);
    background-image: linear-gradient(red, #2f080e);
    border-color: #2f080e #2f080e hsl(351, 68%, 1.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
    border-radius: 120px;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: x-large;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

#title {
  color: red;
  font-size: 8rem;
  padding-top: 20px;
  font-family:"titleFont";
  background: -webkit-linear-gradient(black, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: .2px .2px black;
}

 /* #start-button, #create-button
{

  background-color: hsl(351, 68%, 11%) !important;
  background-repeat: repeat-x;
  background-image: -o-linear-gradient(top, #d12741, #2f080e);
  background-image: linear-gradient(#d12741, #2f080e);
  border-color: #2f080e #2f080e hsl(351, 68%, 1.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
}  */
/* 
#start-button, #create-button:hover, #start-button, #create-button:focus, #start-button, #create-button:active, #start-button, #create-button.active, .open .dropdown-toggle#start-button, #create-button {

  background-color: hsl(360, 68%, 60%) !important;
  background-repeat: repeat-x;
  background-image: linear-gradient(#fbeded, red);
  border-color: red red hsl(360, 68%, 51%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.59);
 }  */

 @import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600&display=swap');

